@value secondary-bg: #202022;
@value white-color: #FFFFFF;
@value text-color: #BFBFBF;
@value pag-border: #313135;

.account {
  background-color: secondary-bg;
  padding: 1.5rem;
  box-shadow: 0 0.5rem 2rem 0 #00000040;
  margin: 2.5rem 0;
  border-radius: 0.5rem;
}

.account h2 {
  color: white-color;
  font-size: 1.5rem;
  font-weight: 500;
}

.account h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.variability {
  margin-top: 2rem;
  background-color: pag-border;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.variability div {
  display: flex;
  align-items: center;
  color: white-color;
  font-size: 1.5rem;
}

.variability p {
  color: text-color;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .account h3 {
    font-size: 1.3rem;
  }

  .variability p {
    color: text-color;
    font-size: 0.7rem;
  }
}
